<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head> 

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Website CSS style -->

		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		
		<!-- Loading Flat UI -->
    	
    		<link href="{% static "css/flat-ui.min.css" %}" rel="stylesheet">

		<!-- Website Font style -->

	    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		<!-- Self-defined Font style -->
		{% block styleloader %}
		<link rel="stylesheet" href="{% static "css/base/style.css" %}">
		{% endblock %}

		<link rel="shortcut icon" href="{% static "img/lark.ico" %}">

		<!-- Google Fonts -->

		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>

		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>{% block title %}User Base Page{% endblock %}</title>

	</head>

	<body>
		{% block header %}
		    <!-- Static navbar -->
		    <div class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
		    <div class="container">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">
			  	<img src="{% static "img/larklogo.png" %}" class="img-rounded" alt="Logo image">
			  </a>
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    <span class="sr-only">Toggle navigation</span>
			  </button>

			  <a class="navbar-brand" href="#">Lark Demo</a>
			</div>
			<div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
			    <li><a href="{% url 'index' %}">Home</a></li>
			    <li><a href="{% url 'about' %}">About</a></li>
			    <li><a href="{% url 'contact' %}">Contact</a></li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
			  	<li><a href="{% url 'signup' %}">Sign up</a></li>
			  	<li><a> Or </a></li>
			    	<li><a href="{% url 'signin' %}">Sign in</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		    </div>
		    </div>
	    	{%endblock%}

		{% block content%}
	    	{% endblock %}

		{% block footer %}
		    <footer class="navbar navbar-inverse navbar-embossed navbar-fixed-bottom">
			<div class="container">
			    <a class="btn navbar-inverse btn-lg btn-block" href="http://weibo.com/u/3202941640" target="weibo">
					Copyright 2017 zz920 - weibo KIKIAOXI#233
			    </a>
			</div>
		    </footer>
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    	<!-- Include all compiled plugins (below), or include individual files as needed -->
	    	<script src="{% static "js/bootstrap.min.js" %}"></script>
	</body>

</html>
