{% extends "home_base.html" %}
{% load static %}

{% block title %}Lark Home{% endblock %}
	{% block header %}
			<!-- Static navbar -->
			<div class="navbar navbar-inverse navbar-embossed navbar-static-top" role="navigation">
			<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img src="{% static "img/larklogo.png" %}" class="img-rounded" alt="Logo image">
				</a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
				</button>

				<a class="navbar-brand" href="#">Lark Demo</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active"><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'signup' %}">Sign up</a></li>
					<li><a> Or </a></li>
					<li><a href="{% url 'signin' %}">Sign in</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			</div>
			</div>
	{%endblock%}
	{% block content%}
		<div class="container" >
			<h1 class="text-warning"> Contributors </h1>
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="thumbnail">
						<img src="https://cl.ly/0U1S0U1B3b2o/download/ME.jpg" alt="contributor">
						<div class="caption">
							<h3> Bowen Zhi </h3>
							A poor guy looking for a job, Oh, my, Godness!
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="thumbnail">
						<img src="{% static "img/lark.png" %}" alt="lark image">
						<div class="caption">
							<h3> Another Guy </h3>
							Emmmmmmm.
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
